:root {
    --main:  #ffcbf2;
    --primary-gradient-one: #c8e7ff;
    --primary-gradient-two: #d0d1ff;
    --primary-gradient-three: #d8bbff;
    --secondary: #deaaff;
    --secondary-gradient-one: #e2afff;
    --secondary-gradient-two: #e5b3fe;
  }

body {
    background-color:var(--light);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
    
display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;

h1 {
    font-size: 42px;
    font-weight: 700px;
    color:var(--pink);
}
.paragraph {
    font-size: 35px;
    color:var(--dark);  
}







@media screen and (max-width: 992px) {
    .card {
      width: 50%;}
    }
    @media screen and (max-width: 768px) {
        .card {
          width: 100%;}
        }